.head{
    display: flex;
    justify-content: center;

    font-family: 'Cinzel';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.34;
    text-transform: uppercase;
    color: #000000;
}